---
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    {description && <meta name="description" content={description} />}
    <link
      rel="preload"
      href="/fonts/ibm-plex-sans-latin-400.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/ibm-plex-mono-latin-500.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
